<div class="w3-panel w3-leftber w3-sand w3-card-4">
	<p class="w3-xlarge w3-serif quote"><%= quote %></p>
	<div class="w3-bar">
		<p class="w3-left"><%= attribution %>, <i><%= source %></i></p>
		<p class="w3-right">Submitted by <%= submitter %> on <%= submissionDate %></p>
	</div>
</div>